<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Let's build together.</h2>
        <p class="max-w-lg text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
          We'd love to learn more about your AI use cases. Fill out the form to see if your org is a
          good fit for our early access program.
        </p>
      </div>
      <form
        id="contactForm"
        action="https://script.google.com/macros/s/AKfycbwJUNUM3f-fwbwkPE0dvvjqtLa_1v0LjTIvOorQjjq6aCSM0F8gDJjCG8yNBI21sfVllQ/exec"
        method="POST"
        class="mt-3 flex flex-col gap-y-6"
      >
        <!-- Full name input -->
        <div>
          <label for="fullname" class="sr-only">Full name</label>
          <input
            type="text"
            name="fullname"
            id="fullname"
            autocomplete="name"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            placeholder="Full Name"
          />
        </div>

        <!-- LinkedIn input -->
        <div>
          <label for="linkedin" class="sr-only">LinkedIn Profile</label>
          <input
            type="url"
            name="linkedin"
            id="linkedin"
            autocomplete="linkedin"
            pattern="https://linkedin\.com\.in.*"
            title="Please enter a valid LinkedIn profile URL like https://www.linkedin.com/in/username"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            placeholder="LinkedIn Profile"
            required
          />
        </div>

        <!-- Email input -->
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            placeholder="Work Email"
          />
        </div>

        <!-- Company input -->
        <div>
          <label for="company" class="sr-only">Company</label>
          <input
            type="text"
            name="company"
            id="company"
            autocomplete="organization"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            placeholder="Company"
          />
        </div>

        <!-- Company size input -->
        <div>
          <label for="companysize" class="sr-only">Company Size</label>
          <select
            name="companysize"
            id="companysize"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
          >
            <option value="" selected disabled>Company Headcount</option>
            <option value="1-10">1-10</option>
            <option value="11-50">11-50</option>
            <option value="51-100">51-100</option>
            <option value="101-500">101-500</option>
            <option value="501-1000">501-1000</option>
            <option value="1001+">1001+</option>
          </select>
        </div>

        <!-- Message textarea -->
        <div>
          <label for="message" class="sr-only">Message</label>
          <textarea
            name="message"
            id="message"
            rows="3"
            class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-4 text-base ring-1 ring-primary-900/40 transition placeholder:text-primary-950/60 hover:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-600 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
            placeholder="What do you want to build?"></textarea>
        </div>
        <div id="recaptcha-container"></div>
        <div>
          <button
            class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  // Inline script to load reCAPTCHA
  const script = document.createElement('script');
  script.src = 'https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit';
  script.async = true;
  script.defer = true;
  document.head.appendChild(script);
</script>

<script>
  function onRecaptchaLoad() {
    grecaptcha.render('recaptcha-container', {
      'sitekey': '6LekqiAqAAAAAMiJV3O3NmiXaTRdNNYxFbNmp-US',
      'callback': enableSubmitButton
    });
  }

  function enableSubmitButton() {
    const submitButton = document.getElementById('submitButton') as HTMLButtonElement | null;
    if (submitButton) {
      submitButton.disabled = false;
    }
  }

  const contactForm = document.getElementById('contactForm');
  if (contactForm) {
    contactForm.addEventListener('submit', function(event) {
      if (!grecaptcha.getResponse()) {
        event.preventDefault();
        alert('Please complete the reCAPTCHA verification.');
      }
    });
  }

  // Expose onRecaptchaLoad to the global scope
  window.onRecaptchaLoad = onRecaptchaLoad;
</script>
